build/**/*
build
archive/**/*
archive
*.o
*.lo
*.la
*.rej
*.pyc
*.log
*.tmp
tmp/**/*
.*~
object_script.*
.DS_Store
thumbs.db
Thumbs.db
*.bak
*.class
*.exe
*.dll
*.mine
*.obj
*.ncb
*.lib
*.log
*.idb
*.pdb
*.ilk
*.msi*
.res
*.pch
*.suo
*.exp
*.*~
*.~*
~*.*
cvs/**/*
CVS/**/*
.CVS
.cvs
release
Release
debug
Debug
tmp
ignore*
Ignore/**/*
bin/**/*
Bin/**/*
obj/**/*
Obj/**/*
*.csproj.user
*.vcxproj.user
*.user
*.user*
Makefile*
object_script.*.Debug
object_script.*.Release
current_changes.txt
1.0.0/**/*
local_defs.pri
*.sdf
*.suo
ipch/**/*
*.pluginspec
.moc
.rcc
.uic
external
april_config.h
*resource.rc
moc_*
qrc_*
distrib
*pro.user*
ui_*.h
*.qm
id_local
*.autosave
