{% assign site_root = 'http://tnick.github.io/aitown' %}

<!DOCTYPE html 
      PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
      xmlns="http://www.w3.org/1999/xhtml" 
      xml:lang="en-US"
      lang="en-US">
	<head profile="http://www.w3.org/2005/10/profile">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="description" content="Aitown for agents to socialize" />
        <meta name="keywords" content="Open Source, Software, Development, Developers, Projects, Downloads, AiTown, AI" />
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

		<link rel="icon" 
			  type="image/png" 
			  href="{{ site_root }}/images/favicon.png" />
			  
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site_root }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site_root }}/css/main.css">

    </head>
    <body>
        <div class="container">
          <div class="site">
            <div class="header">
              <h1><a href="/">{{ site.name }}</a> - {{ page.title }}</h1>
            </div>
			<table><tr>
				<td class="content">

					{{ content }}

				</td>
				<td class="sidebar">
					<ul class="sidebar">
						<li class="sidebar">
							<a href="{{ site_root }}/releases">
								<div class="greenbutton">Download now</div>
							</a>
						</li>
						<li>
							<hr/>
						</li>
						<li class="sidebar">
							<a href="https://github.com/TNick/aitown">
							<div class="lefticon savebutton">Source code</div>
							</a>
						</li>
						<li class="sidebar">
							<a href="https://github.com/TNick/aitown">
							<div class="lefticon gitbutton">Git repository</div>
							</a>
						</li>
						<li class="sidebar">
							<a href="{{ site_root }}/documentation.html"><div class="lefticon docsbutton">Documentation</div>
							</a>
						</li>
						<li class="sidebar">
							<a href="https://github.com/TNick/aitown/issues" rel="help">
							<div class="lefticon bugbutton">Bugs &amp; Help</div>
							</a>
						</li>
					</ul>
				</td>
			
			</tr></table>


            <div class="footer">
              <div class="contact">
					<table><tr>
                        <td>
                            <a href="//plus.google.com/107260277810270279770?prsrc=3"
                            rel="publisher" target="_top" style="text-decoration:none;">
                            <img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+" style="border:0;width:32px;height:32px;"/>
                            </a>
                        </td>
                        <td>
                            &nbsp;Administrator: Nicu Tofan<br>
                            &nbsp;<a href="mailto:xtnickx@users.sourceforge.net">xtnickx@users.sourceforge.net</a><br>
                            &nbsp;<a href="http://github.com/TNick">github.com/TNick</a><br />
                        </td>
					</tr></table>
              </div> <!-- /contact -->
            </div> <!-- /footer -->
            
          </div> <!-- /site -->
           
        </div> <!-- /container -->

    </body>
</html>
